<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>SENEMOS Nabu</vendor>
  <vendor_url>https://copr.fedorainfracloud.org/coprs/mcc45tr/nabu-linux/</vendor_url>
  <action id="org.senemos.nabu.sar-calibration.configure">
    <description>Apply a validated Linux-side Nabu grip calibration</description>
    <message>Authentication is required to change the tablet grip calibration</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/nabu-sar-calibration</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
